go 1.18

use (
	./DataBase/DBGroup
	./DataBase/DBService
	./DataBase/DBUser
	./Endpoint/MessengerServiceApi
	./Endpoint/UserServiceApi
	./Endpoint/main
	./Logic/GroupManager
	./Logic/MessengerManager
	./Logic/UserManager
	./Model/Group
	./Model/Message
	./Model/User
	./Utils
)
